@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  margin: 0;
  padding: 10px 0px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #181818;
}

p {
  margin: 0px;
}
